@import url('https://fonts.googleapis.com/css2?family=Bitcount+Ink:wght@100..900&family=Bitcount+Single:wght@100..900&family=Bungee&family=Bungee+Spice&family=Cinzel:wght@400..900&family=Coral+Pixels&family=Flow+Circular&family=Foldit:wght@100..900&family=Google+Sans+Code:ital,wght@0,300..800;1,300..800&family=Honk:MORF@15&family=Kalnia+Glaze:wght@100..700&family=Libre+Barcode+39&family=Libre+Barcode+EAN13+Text&family=Linefont:wght@4..1000&family=Nabla&family=Playwrite+GB+J+Guides:ital@0;1&family=Redacted&family=Sixtyfour+Convergence&family=Wavefont:wght,ROND,YELA@4..1000,100,-100&display=swap');

.libre-barcode-39-regular {
  font-family: "Libre Barcode 39", system-ui;
  font-weight: 400;
  font-style: normal;
}

.cinzel {
  font-family: "Cinzel", serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

.wavefont {
  font-family: "Wavefont", system-ui;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings:
    "ROND" 100,
    "YELA" -100;
}

.linefont {
  font-family: "Linefont", system-ui;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}


nav{
    background-color: blueviolet;
    color: white;
    text-align: center;
    font-size:x-large;
    font-family: "Cinzel", serif;
    position: sticky;
    border-radius: 10px;
    padding: 5px;
    padding-left: 10px;
    margin-bottom: 10px;
    align-items: center;
}

body{
    background-color: cadetblue;
    padding: 1px 5px;
    p{
        font-size: x-large;
    }
}

footer{
    background-color: crimson;
    text-align: center;
    position:absolute;
    clear:both;
    width: 98%;
}

.bod{
    
}

.secret1{
    text-align: center;
    padding: 10px;
    font-size: 200%;
    font-family: "Libre Barcode 39", system-ui;
}

.secret2{
    text-align: center;
    padding: 10px;
    font-size: 200%;
    font-family: "Wavefont", system-ui;
}

.secret3{
    text-align: center;
    padding: 10px;
    font-size: 200%;
    font-family: "Linefont", system-ui;
}

img{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.mortum{
    width: 800px;
    height: auto;
}

.kat{
    width: 500px;
    height: auto;
}

.slink{
    color: rgb(230, 20, 60);
    text-decoration:line-through
    /*color: crimson;*/
}